*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
}
.cent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotform{
    width: 500px;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: lightgray;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 10px;
}