*
{
    padding:0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    width: 1280px;
    margin: 0 auto;
}
main
{
    background-color: white;
}
.singleProductPageBanner
{
    background-image: url("../img/fashion/breadcrunb-bg.png");
    background-position: -350px;
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.singleProductPageBanner p
{
    font-size: 80px;
    color: black;
}
.singleProductPageBanner span
{
    font-size: 40px;
}
.fontBlack{
    color: black;
}
.fontBlue{
    color: #3A6AF0;
}
.productPicture{
    float: left;
    width: 80%;
    height: 500px;
    background-color: white;
    padding-left: 20px;
    border-radius: 10px;
    border: 2px solid #8f8d8d;
    line-height:50px;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
}
.productPicture img{
    width: 90%;
    height: 90%;
}
.ProductDis{
    width: 100%;
    height:700px;
    margin-left: -30px;
    padding:60px 0px 20px 0px;
}
.productArea{
    display: grid;
    grid-template-columns: 50% 50%;
}
.productCategoryTitle{
    color: #3A6AF0;
    font-weight: bold;
}
.productCategoryContent{
    color: black;
    font-weight: bold;
}
.productDiscountPeriodTitle{
    color: #3A6AF0;
    font-weight: bold;
}
.productDiscountPeriodContent{
    color: black;
    font-weight: bold;
}
.warning{
    color: red;
}
b{
    font-size: 40px;
}
h1{
    font-size: 50px;
    line-height: 80px;
}
.plusMinus{
    display: flex;
    flex-direction: row;
    height: 100px;
}
.plusButton span{
    font-size: 20px;
    font-weight: 60px;
    padding:9px;
    border-width: 2px;
    border-top: 2px solid #707070;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #707070;
    color: white;
}.minusButton span{
    font-size: 20px;
    font-weight: 60px;
    padding:9px;
    border-width: 2px;
    border-top: 2px solid #707070;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #707070;
    color: white;
}
.countArea span{
    font-size: 20px;
    font-weight: 60px;
    padding:9px;
    border-width: 2px;
    border-top: 2px solid #707070;
    border-radius: 0px;
    background-color: #707070;
    color: white;
}
input[type="submit"]{
    padding:0;
    background-color: black;
    color: white;
    width:15%;
}
input[type="submit"]{
    padding:0px 0px 1px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width:15%;
}