body{
    margin: 0px;
}

/*Header */
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap);
*
{
  padding:0;
  margin: auto 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.headerBody{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  position: relative;
  visibility: visible;
  scroll-behavior: smooth;
  color: #3a3a3a;
}

a,
.search-element button {
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
.main-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu li {
  list-style: none;
}
.headerInput {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  font-size: 15px;
  width: 100%;
  background: 0 0;
  border-radius: 0;
  text-align: left;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 10px;
  outline: 0;
}
header {
  background-color: #252525;
}
header .header-top {
  border-bottom: 1px solid #454545;
}
header .header-top .welcome-text {
  display: flex;
  align-items: flex-start;
}
header .header-top .welcome-text p {
  font-size: 14px;
  color: #cfd4df;
  line-height: 38px;
}
header .header-top .top-nav {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1;
}
header .header-top .top-nav ul {
  align-items: flex-end;
  display: flex;
}
header .header-top .top-nav ul li:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #454545;
}
header .header-top .top-nav ul li a {
  font-size: 14px;
  color: #cfd4df;
  display: flex;
  flex-direction: row;
  line-height: 1;
}
header .header-top .top-nav ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: -3px;
}
header .header-top .top-nav ul li a:hover {
  color: #266bf9;
}
header .header-top .top-nav ul li a i {
  margin-right: 15px;
  font-size: 18px;
  color: #266bf9;
}
header .header-bottom {
  padding: 30px 0;
}
header .header-bottom .header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-bottom .header-logo img{
  width: 220px;
  height: 50px;
}
header .header-bottom .header-actions .header-action-btn img{
  height: 50px;
  width: 50px;
}
header .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #266bf9;
}
header .main-menu ul {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
header .main-menu ul li + li {
  margin-left: 50px;
}
header .main-menu ul li a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
  position: relative;
  line-height: 50px;
}
.downArrow{
  position: relative;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
header .main-menu ul li.dropdown ul li {
  padding: 0;
  margin: 0;
  display: block;
}
header .main-menu ul li.dropdown ul li:hover > a {
  color: #266bf9 !important;
}
header .main-menu ul li.dropdown ul li a {
  display: block;
  line-height: 20px;
  padding: 12px 0 12px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #2d2d2d;
  text-transform: capitalize;
}
header .main-menu ul li.dropdown ul li a:hover {
  padding-left: 25px;
}
header .main-menu ul li.dropdown:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
header .main-menu ul li.dropdown img{
  position: relative;
}

header .main-menu ul li .mega-menu {
  position: absolute;
  background: #fff;
  padding: 30px 0 30px 30px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  z-index: 15;
  box-shadow: -1px 10px 80px -15px rgba(0, 0, 0, 0.3);
}
header .main-menu ul li .mega-menu li ul {
  width: 25%;
  margin-right: 30px;
  border-right: 1px solid #ebebeb;
}
header .main-menu ul li .mega-menu li ul li.title a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
  height: auto;
}
header .main-menu ul li .mega-menu li ul li a {
  color: #2d2d2d;
  text-transform: capitalize;
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
  display: block;
  padding: 0;
  border: 0;
  height: auto;
  margin-bottom: 15px;
}
.search-element {
  margin: auto;
}
.search-element form {
  position: relative;
}
.search-element form input[type=text]{
  height: 44px;
  width: 100%;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  padding-right: 80px;
}
.search-element form input[type=image] {
  width: 10%;
  position: absolute;
  top: 0;
  left: 422px;
  height: 44px;
  border-radius: 0 5px 5px 0;
  background-color: #266bf9;
}
.search-element form .searchImg{
  position: absolute;
}
.search-element form input[type=image]:hover {
  background-color: aquamarine;
}
.search-element.max-width-100 {
  max-width: 100%;
}
.action-form {
  position: relative;
}

.displayBlock{
  display: block !important;
}
.flex {
  flex: 1 0 0%;
}
.columnLgThree{
  flex: 0 0 auto;
  width: 30%;
}
.columnLgSix{
  flex: 0 0 auto;
  width: 40%;
}
.displayFlex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}
.paddingZero {
  padding: 0 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.position-relative {
  position: relative !important;
}
.position-static {
  position: static !important;
}
.dropdown{
  position: relative;
}
.justify-content-between {
  justify-content: space-between !important;
}
.displayNone {
  display: normal !important;
}
.with100 {
  width: 100% !important;
}


/*Main section */


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
    input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
  /* Set a style for the submit/register button */
.registerbtn {
    background-color: rgb(43, 55, 219);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.registerbtn:hover {
    opacity:1;
}
  
  /* Add a blue color to links */
a {
    color: dodgerblue;
}
  
  /* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.main-content{
    width: 500px;
    margin: 0 auto;
}
input[type="number"], textarea {

    background-color : blue; 
  
  }
.main-content{
    padding-top: 100px;
}
.main-section-heading{
    padding-bottom: 25px;
}

/* Footer section */

*
{
    padding:0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    width: 1280px;
    margin: 0 auto;
}
main
{
    background-color: white;
}
.topFooter{
    background-color: #F3F8FC;
    display: grid;
    grid-template-columns: 33,33%, 33,33%, 33,33%;
    text-decoration:none
}
.leftFooter
{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    margin-left: 100px;
}
.leftQuate{
    width: 30px;
    height: 30px;
}
.rightQuate{
    width: 30px;
    height: 30px;
}
.footerLogo
{
    margin-top: 20px;
    margin-bottom: 10px;
  width: 150px;
  height: 40px;
}
.leftFooter .footerFlexTwo span{
    margin-top: 10px;
   font-size: 25px;
   width: 100px;
   line-height: 40px;
}
.middleFooter
{
    grid-column: 2/3;
}
.rightFooter
{
    grid-column: 3/4;
}
.bottomFooter{
    background-color: #316EF2;
    text-align: center;
    align-items: center;
    padding: 3px;
    color: white;
    font-size: 10px;
}
.topFooter ul li{
    list-style-type: none;
    font-size: 24px;
    line-height: 40px;
}
.topFooter a{
    text-decoration: none;
    color:black;
}
.footerPayment{
    width: 231px;
    height: 30px;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

