*{
    padding: 0;
    margin: 0;
}
.footerwrap{
    width: 100%;
    height: 200px;
    bottom: 0px;
    background-color: lightgray;
    display: flex ;
    align-items: flex-end;
    
}  

.nozamartIMG{
    height: 30px;
    width: 50px;
}
.quote1{
    height: 30px;
    width: 50px;
}
.quote2{
    height: 30px;
    width: 50px;
}
.foottext{
    height: 50px;
    width: 80px;
}