*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
}
.profilecenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;

}
.profilebox{
    width: 500px;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: lightgray;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 10px;
}
.usernameform{
    width: 500px;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: lightgray;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10px;
}
.changeUser{
    border-radius: 8px;
    padding: 15px;
}
.usernameButton{
    color: red;
}
.changePass{
    border-radius: 8px;
    padding: 15px;
}
.buttonCenter{
    display: flex;
    justify-content: center;
}
.passwordButton{
    color: red;
}
.profileheader{
    color: blue;
    font-size: 25px;
}
.historybutton{
    border-radius: 8px;
    padding: 15px;
    color: blue;
    background-color: lightgrey;
    margin-right: 350px;
}
.logoutbutton{
    border-radius: 8px;
    padding: 15px;
    color: blue;
    background-color: lightgrey;
    margin-left: 90px;
}
.profileEcho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blue;
}
